/* GENERAL */
:root {
  --sea-green: #6ed3cf;
  --muave: #9068be;
  --light-grey: #e1e8f0;
  --red: #e62739;
  --dark-grey: rgb(50, 50, 50);
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2rem;
}

body a:hover {
  text-decoration: none !important;
  color: unset !important;
}

Link {
	color: unset;
}

Link:hover {
	text-decoration: none;
	color: unset;
}

.btn:hover {
	color: unset !important;
}

.shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
  0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-move {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.shadow-move:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.sea-green {
  background-color: var(--sea-green);
  color: black;
}

.muave {
  background-color: var(--muave);
  color: white;
}

.light-grey {
  background-color: var(--light-grey);
  color: black;
}

.red {
  background-color: var(--red);
  color: white;
}

.page-title {
	font-family: "Barlow", sans-serif;
	font-size: 3rem;
	color: var(--dark-grey);
}

/* HEADER */

.head {
  font-family: 'Barlow', sans-serif;
  font-weight: 800;
  font-size: 4rem;
  color: black;
}

/* LANDING */
.big-text {
  font-family: 'Barlow', sans-serif;
  font-weight: 800;
  font-size: 7rem;
  color: var(--dark-grey);
}

.small-text {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: var(--red);
}

/* REGISTRATION */
.form-error {
	font-size: 0.9rem;
	font-weight: bold;
	color: var(--red);
}
